@page "/orders/delete"
@using Microsoft.EntityFrameworkCore
@using OnlineBookStore.Domain
@inject IDbContextFactory<OnlineBookStore.Data.OnlineBookStoreContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Orders</h2>
    <hr />
    @if (orders is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">OrderDate</dt>
            <dd class="col-sm-10">@orders.OrderDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@orders.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TotalAmount</dt>
            <dd class="col-sm-10">@orders.TotalAmount</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@orders.CustomerId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@orders.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@orders.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@orders.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@orders.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="orders" OnValidSubmit="DeleteOrders" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(orders is null)">Delete</button> |
            <a href="/orders">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Orders? orders;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        orders = await context.Orders.FirstOrDefaultAsync(m => m.Id == Id);

        if (orders is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteOrders()
    {
        using var context = DbFactory.CreateDbContext();
        context.Orders.Remove(orders!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/orders");
    }
}
